<template>
  <v-sheet rounded="lg" max-height="70vh" height="70vh" scrollable class="elevation-20">
    <div class="overflow-y-auto" id="scroll-target">
      <v-list color="transparent" max-height="70vh" id="scroll-users">
				<v-list-item link color="grey lighten-4">
					<v-list-item-icon @click="getUserList()">
            <v-icon class="primary--text"
              >mdi-refresh</v-icon
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              <v-responsive max-width="260">
                <v-text-field
                  class="secondary"
                  dense
                  flat
                  hide-details
                  rounded
                  solo-inverted
                  placeholder="Search"
                ></v-text-field>
              </v-responsive>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

				<v-divider class="mb-5"></v-divider>

        <v-list-item
          v-for="user in userList"
          :key="user"
          :to="'/customer/' + $store.state.currentUser + '/' + user.pk"
        >
          <v-list-item-icon>
            <v-avatar color="secondary darken-1" size="32">
              <v-img
                src="https://image.flaticon.com/icons/svg/145/145867.svg"
              ></v-img>
            </v-avatar>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title> {{ user.last_name }} </v-list-item-title>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon class="primary--text" style="font-size: 16px"
              >mdi-circle</v-icon
            >
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </div>
  </v-sheet>
</template>

<script>
import axios from 'axios'

export default {
	components: {},
	
	mounted() {
		this.getUserList()
	},

  data: () => ({
		userList: null,
	}),

  computed: {},

  methods: {
		getUserList(){
			this.$store.state.loaderDialog = true
			axios({
				method: "GET",
				url: "/api/user/",
				timeout: 5000,
        /*data: JSON.stringify({
          question: 0,
        }),*/
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      })
        .then((response) => {
          if (response.status == 200) {
            let data = response.data
            console.log(data)
            for(let i = 0; i < data.length; i++){
              if (data[i].pk == this.$store.state.currentUser){
                data.splice(i, 1)
              }
            }
            this.userList = data
            this.$store.state.loaderDialog = false
          } else {
            this.$store.state.loaderDialog = false;
          }
        })
		}
	},
};
</script>

<style>
</style>
