<template>
  <v-dialog v-model="$store.state.addProductDialog" max-width="400">
    <v-card color="" tile flat>
      <v-card-title>
        <span class="headline">Product</span>
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-container>
            <v-text-field
              label="Product Name"
              persistent-hint
              filled
            ></v-text-field>
            <v-text-field
              label="Product Price"
              persistent-hint
              filled
              type="number"
            ></v-text-field>
            <v-text-field
              label="Quantity"
              persistent-hint
              filled
              type="number"
            ></v-text-field>
            <v-text-field
              label="Product Category"
              persistent-hint
              filled
            ></v-text-field>
            <v-text-field
              label="Product Image"
              persistent-hint
              filled
              type="file"
            ></v-text-field>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="error darken-1"
          class="ma-3"
          text
          @click="$store.state.registerDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn color="blue darken-1" class="ma-3" text @click="addUser()">
          Add
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  components: {},
  data: () => ({
    name: "",
    phoneNumber: "",
    email: "",
    select: null,
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    checkbox: null,
  }),

  methods: {
    submit() {
      this.$refs.observer.validate();
    },
    clear() {
      this.name = "";
      this.phoneNumber = "";
      this.email = "";
      this.select = null;
      this.checkbox = null;
      this.$refs.observer.reset();
    },
  },
};
</script>