<template>
<div>

</div>
</template>

<script>
//import axios from "axios";
//import moment from "moment";

export default {
  props: ["sender", "receiver"],

  data() {
    return {
    };
  },

  watch: {
  },

  created() {
  },

  mounted() {
  },

	computed: {
	},

  methods: {
    
  },
};
</script>

<style type="css">

</style>