<template>
  <div class="home align-center">
    <v-dialog v-model="addProductDialog" max-width="400">
      <v-card color="" tile flat>
        <v-card-title>
          <span class="headline">Product</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-container>
              <v-text-field
                v-model="productName"
                label="Product Name"
                persistent-hint
                filled
              ></v-text-field>
              <v-text-field
                v-model="productPrice"
                label="Product Price"
                persistent-hint
                filled
                type="number"
              ></v-text-field>
              <v-text-field
                v-model="productQuantity"
                label="Quantity"
                persistent-hint
                filled
                type="number"
              ></v-text-field>
              <v-text-field
              v-model="productCategory"
                label="Product Category"
                persistent-hint
                filled
              ></v-text-field>
              <v-file-input
                label="Product Image"
                v-model="productImage"
                persistent-hint
                filled
                accept="image/*"
                id="imgs"
                @change="getPathImage"
              ></v-file-input>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="error darken-1"
            class="ma-3"
            text
            @click="addProductDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" class="ma-3" text @click="addProduct()">
            {{action == "post" ? 'Add' : 'Update'}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-container class="py-0 fill-height mb-8">
      <v-toolbar flat>
        <v-toolbar-title>Register</v-toolbar-title>
        <v-responsive max-width="260">
        <v-text-field
          class="align-center ml-3"
          label="Search"
          placeholder="Search"
          hide-details
          outlined
          dense
        ></v-text-field>
        </v-responsive>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text @click="$store.state.registerDialog = false">
            Select
          </v-btn>
          <v-btn text @click="newProduct()">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
          <v-btn text @click="refreshData()">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-container>

    <v-container class="py-0 fill-height">
      <v-row class="align-center">
      <v-col cols="3" v-for="product in productList" :key="product.id">
        <v-card
          class="elevation-0"
          outlined
          max-width="374"
          max-height="400"
        >
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            height="250"
            :src="product.image"
          >
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >

              <v-spacer></v-spacer>

              <v-menu
                rounded
                bottom
                left
                offset-y
              >
                <template v-slot:activator="{ attrs, on }">
                  <v-btn
                    color="white"
                    icon
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item
                    link
                    @click="addProd(product.id)"
                  >
                    <v-list-item-title><v-icon>mdi-pencil</v-icon> Edit</v-list-item-title>
                  </v-list-item>
                  <v-dialog
                    v-model="deleteConfirmation"
                    persistent
                    max-width="290"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item
                        link
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-list-item-title><v-icon>mdi-delete-outline</v-icon> Delete</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card>
                      <v-card-title class="text-h5">
                        Are you sure you want to delete this product ?
                      </v-card-title>
                      <v-card-text>Impossible to reverse</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="deleteConfirmation = false"
                        >
                          No
                        </v-btn>
                        <v-btn
                          color="error darken-1"
                          text
                          @click="deleteProduct(product.id)"
                        >
                          Yes
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-list>
              </v-menu>
            </v-app-bar> 
          </v-img>

          <v-card-title> {{product.name}} </v-card-title>

          <v-card-text>
            <v-row
              align="center"
              class="mx-0"
            >
              {{product.category}}

              <div class="grey--text ms-4">
                {{product.quantity}} (Qty)
              </div>
            </v-row>

            <div class="my-4 text-subtitle-1">
              $ • {{product.price}} / unit
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  },
  created() {
    this.refreshData()
  },
  methods: {
    refreshData(){
      fetch(
      "/api/product/",
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + sessionStorage.getItem("key"),
        },
      }
    )
      .then(function(response) {
        if(response.status == 200) {
          return response.json()
        }
        else{
          this.$router.push('login')
        }
      })
      .then((response) => {
        this.productList = response
      });
    },
    addProd(pk){
      for(let p=0; p<this.productList.length; p++){
        this.action = "put"
        if(this.productList[p].id == pk){
          this.productName = this.productList[p].name
          this.productPrice = this.productList[p].price
          this.productCategory = this.productList[p].category
          this.productQuantity = this.productList[p].quantity
          this.productID = this.productList[p].id
        }
      }
      this.addProductDialog = true
    },
    addProduct(){
      if(this.action == "post"){
        this.save()
      }
      else{
        this.update()
      }
    },
    newProduct(){
      this.action = "post"
      this.productName = ""
      this.productPrice = ""
      this.productCategory = ""
      this.productQuantity = ""
      this.addProductDialog = true
    },
    save(){
      this.addProductDialog = false
      fetch("/api/product/", {
        method: "POST",
        body: JSON.stringify(
          {
            "name": this.productName,
            "category": this.productCategory,
            "quantity": this.productQuantity,
            "price": this.productPrice,
            "image": this.path_image
          }
        ),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + sessionStorage.getItem("key"),
        },
      })
        .then(function(response) {
          return response.json();
        })
        .then((data) => {
          data;
          this.productImage = ""
          this.refreshData()
        });
      this.refreshData()
    },
    update(){
      this.addProductDialog = false
      fetch("/api/product/"+this.productID+"/update_product/", {
        method: "PUT",
        body: JSON.stringify(
          {
            "name": this.productName,
            "category": this.productCategory,
            "quantity": this.productQuantity,
            "price": this.productPrice,
            "image": this.path_image
          }
        ),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + sessionStorage.getItem("key"),
        },
      })
        .then(function(response) {
          return response.json();
        })
        .then((data) => {
          data;
          this.productImage = ""
          this.refreshData()
        });
    this.refreshData()
    },
    deleteProduct(pk){
      fetch("/api/product/"+pk, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + sessionStorage.getItem("key"),
        },
      })
        .then(function(response) {
          this.refreshData()
          return response.json();
        })
        .then((data) => {
          data;
          this.refreshData()
        });
      this.deleteConfirmation = false
    this.refreshData()
    },
    getPathImage(){
      let file = document.getElementById("imgs")
      let reader = new FileReader()
      reader.readAsDataURL(file.files[0])
      reader.addEventListener('load',() => {
        this.path_image = reader.result
      })
    },
  },
  data() {
    return {
      path_image: "",
      action: "post",
      productID: null,
      addProductDialog: false,
      deleteConfirmation: false,
      productList:[],
      productImage: "",
      productName: "",
      productPrice: "",
      productCategory: "",
      productQuantity: ""
    }
  },
}
</script>
