<template>
  <v-app id="inspire">

    <v-main class="secondary align-center">
      <v-container class="align-center">
        <v-row class="d-flex align-center justify-center">
          <v-col cols="8">
            <v-sheet max-height="90vh" rounded="lg" class="pa-10">
              <!--  -->
              <register />
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <loader />
  </v-app>
</template>

<script>
import register from "../components/register/register.vue";
import loader from "../components/loader/loader.vue";

export default {
  components: {
    loader,
    register,
  },

  data: () => ({
    registerDialog: false
  }),
  computed: {
  },

  methods: {
  },
};
</script>

<style type="css">
</style>
