<template>
  <v-row justify="center">
    <v-dialog
      v-model="profilDialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      class="secondary"
    >
      <v-card
        class="secondary"
        style="background-image: url('../../assets/undraw_texting_k35o.svg')"
      >
        <v-toolbar class="" flat>
          <v-toolbar-title>User Profil</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn text @click="$store.state.profilDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container class="my-10">
          <v-row justify="center">
            <v-col cols="12" sm="6">
              <v-card color="transparent" flat>
                <v-card-title>
                  <span class="headline">Our Informations</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-avatar size="164">
                          <img
                            src="https://randomuser.me/api/portraits/women/85.jpg"
                            alt="John"
                          >
                        </v-avatar>
                      </v-col>
                      <v-col cols="12" sm="6" class="d-flex align-center">
                        <v-btn
                          color="primary darken-1"
                          class="d-flex align-center"
                          icon
                          @click="0"
                        >
                          <v-icon class="mdi-camera">mdi-camera</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="sender_object.first_name"
                          solo
                          flat
                          label="First name*"
                          required
                          hint="ex: tiya"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="sender_object.last_name"
                          solo
                          flat
                          label="Last name"
                          hint="ex: florian"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="sender_object.email"
                          solo
                          flat
                          label="Email*"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="password"
                          solo
                          flat
                          label="Password*"
                          type="password"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="error darken-1"
                    text
                    @click="$store.state.profilDialog = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="update($store.state.currentUser)"> Update </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      messages: null,
      typing: false,
      sender_object: {
        first_name: "",
        last_name: "",
        email: "",
        password: "",
        pk: undefined,
      },
      password: '',
    };
  },

  computed: {
    profilDialog(){
      this.getUser(this.$store.state.currentUser);
      return this.$store.state.profilDialog
    }
  },

  methods: {
    update(pk){
      this.$store.state.loaderDialog = true;
      axios({
        method: "PUT",
        url: "/api/user/" + pk + "/update_user/",
        timeout: 5000,
        data: JSON.stringify({
          username: this.sender_object.first_name,
          first_name: this.sender_object.first_name,
          last_name: this.sender_object.last_name,
          password: this.password,
          email: this.sender_object.email,
        }),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      }).then((response) => {
        if (response.status == 200) {
          this.$store.state.loaderDialog = false;
					this.$store.state.profilDialog = false
        } else {
          this.$store.state.loaderDialog = false;
        }
      });
    },
    getUser(pk) {
      return axios({
        method: "GET",
        url: "/api/user/" + pk + "/",
        timeout: 5000,
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      })
        .then((response) => {
          this.sender_object = response.data;
        })
    },
  },
};
</script>