<template>
  <v-app id="inspire">

    <v-app-bar app flat>
        <img src="../../assets/logo.png" height="40" width="40" /> <span>Vue-Test</span>

        <v-spacer></v-spacer>

        <v-menu
          rounded
          offset-y
        >
          <template v-slot:activator="{ attrs, on }">
            <v-btn
              color="primary"
              class="ma-0 pa-0"
              v-bind="attrs"
              v-on="on"
              text
            >
              <v-icon left>mdi-face-profile</v-icon>
              <span> {{first_name}} </span>
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              link
            >
              <v-list-item-title><v-icon>mdi-file-document-outline</v-icon> Profil</v-list-item-title>
            </v-list-item>
            <v-dialog
              v-model="logoutConfirmation"
              persistent
              max-width="290"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-list-item
                  link
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-list-item-title><v-icon>mdi-power-plug-off-outline</v-icon> Log Out</v-list-item-title>
                </v-list-item>
              </template>
              <v-card>
                <v-card-title class="text-h5">
                  Are you sure you want to deconnect ?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="logoutConfirmation = false"
                  >
                    No
                  </v-btn>
                  <v-btn
                    color="error darken-1"
                    text
                    @click="logout()"
                  >
                    Yes
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-list>
        </v-menu>

    </v-app-bar>

    <v-main class="secondary">
      <v-container>
        <v-row class="d-flex justify-center">
          <v-col cols="7">
            <v-sheet max-height="90vh" height="85vh" min-height="70vh" rounded="lg" style="overflow-y:scroll;" id="main">
              <!--  -->
              <router-view></router-view>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <loader />
    <profil />
    <v-footer padless>
      <v-col
        class="text-center"
        cols="12"
      >
        <strong>© Copyright all rights reserved</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import profil from "../../components/profil/profil.vue";
import loader from "../../components/loader/loader.vue";

export default {
  components: {
    loader,
    profil,
  },

  created() {
    this.userName(this.$store.state.currentUser) 
  },

  data: () => ({
    first_name: '',
    logoutConfirmation: false
  }),
  computed: {
  },

  methods: {
    userName(pk) {
      fetch(
      "/api/user/"+pk+"",
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      }
    )
      .then(function(response) {
        if(response.status == 200) {
          return response.json()
        }
      })
      .then((response) => {
        this.first_name = response.first_name
      });
    },
    logout(){
      sessionStorage.setItem("key", "")
      this.$router.push('login')
    }
  },
};
</script>

<style type="css">
</style>
