<template>
  <v-container>
    <v-row class="align-center">
      <v-col cols="4">
        <v-card color="" tile flat class="elevation-24">
          <v-card-title>
            <span class="headline">Log in</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    flat
                    label="User name*"
                    required
                    v-model="username"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    flat
                    label="Password*"
                    type="password"
                    required
                    v-model="password_login"
                    prepend-icon="mdi-lock"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-btn
                    color="blue darken-1"
                    width="100%"
                    dark
                    text
                    bordered
                    @click="login()"
                  >
                    Connexion
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions> </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-card color="transparent ml-5" flat>
          <v-card-title>
            <span class="headline">Sign up</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    flat
                    label="User name*"
                    required
                    hint="ex: tiya"
                    v-model="first_name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    flat
                    label="Legal name"
                    hint="ex: florian"
                    v-model="last_name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    flat
                    label="Email*"
                    required
                    v-model="email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    flat
                    label="Password*"
                    type="password"
                    required
                    v-model="password"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="error darken-1"
              text
              @click="$store.state.registerDialog = false"
            >
              Cancel
            </v-btn>
            <v-btn color="blue darken-1" text @click="addUser()">
              Submit
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      first_name: "",
      last_name: "",
      password: "",
      email: "",
      username: "",
      password_login:"",
      
    };
  },
  methods: {
		login(){
			this.$store.state.loaderDialog = true;
      axios({
        method: "POST",
        url: "/api/token/",
        timeout: 5000,
        data: JSON.stringify({
          username: this.username,
          password: this.password_login,
        }),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      }).then((response) => {
        if (response.status == 200) {
          sessionStorage.setItem("key", response.data.access);
					this.$store.state.currentUser = JSON.parse(window.atob(response.data.access.split(".")[1]))
          this.$store.state.loaderDialog = false;
					this.$store.state.registerDialog = false
          window.location.replace("/home")
          this.$router.push('home')
        } else {
          this.$store.state.loaderDialog = false;
        }
      });
		},
    addUser() {
      this.$store.state.loaderDialog = true;
      axios({
        method: "POST",
        url: "/api/user/add_user/",
        timeout: 5000,
        data: JSON.stringify({
          username: this.first_name,
          first_name: this.first_name,
          last_name: this.last_name,
          password: this.password,
          email: this.email,
        }),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      }).then((response) => {
        if (response.status == 200) {
          this.$store.state.loaderDialog = false;
					this.$store.state.registerDialog = false
        } else {
          this.$store.state.loaderDialog = false;
        }
      })
      .then((error) => {
        error
      });
    },
  },
};
</script>